<%= form_for([@course, @enrollment]) do |f| %>
    <div class="field">
        <%= f.select :student_id, @course.students_not_enrolled %><br>
        <%= f.submit "Enroll selected student in this course" %>
    </div>
   
<% end %>

