<%= form_for(@tag) do |f| %>
  <div class="field">
    <%= f.label :str %><br>
    <%= f.text_field :str %>
  </div>
  <div class="field">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
